@tailwind base;
@tailwind components;
@tailwind utilities;


.form{
  background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}

.app{
  background-image: linear-gradient( 135deg, #F05F57 10%, #360940 100%);
}